*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    width: 50vw;
    margin: 10vh auto;
}
button{
    height: 6vh;
    width: 112%;
    font-size: large;
    font-weight: 500;
   background: linear-gradient(to right, #8e2de2, #ff6ec4);
    color: white;
    text-align: center;
    
}